:root {
    --top-margin: 24px;
    --el-gap: 16px;
    --radius: 6px;

    --primary-color: #005BFE;
    --primary-hover-color: #0047C6;
    --alt-color: #F81155;
    --alt-hover-color: #D1003E;
    --delete-color: #EA3D2F;
    --back-color: #F6F7F9;

    --font-family: Arial, Helvetica, sans-serif;
    --font-size: 14px;
    --font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    min-width: 100vh;
}